<% provide(:title, 'About us') %>
    <h1>About us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, distinctio, quo, recusandae, odio dolorem dolores nisi autem id sequi rerum quaerat perspiciatis quasi quam earum nobis nulla suscipit. Est, provident.
        Красотенюшка!
    </p>