    <% provide(:title, 'Help') %>
    <h1>Help! SomeBody Help!</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, distinctio, quo, recusandae, odio dolorem dolores nisi autem id sequi rerum quaerat perspiciatis quasi quam earum nobis nulla suscipit. Est, provident.
        Красотенюшка!
    </p>  