<% provide(:title, 'Home') %>
<div class="center hero-unit">

	<h1>Pro App</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, distinctio, quo, recusandae, odio dolorem dolores nisi autem id sequi rerum quaerat perspiciatis quasi quam earum nobis nulla suscipit. Est, provident.
	</p>

<%= link_to "Войти сейчас", signup_path, class: "btn btn-large btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>